@import url(reset.css);
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 14px;
   color: #212121;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

/*HEADER*/

.header {
    padding: 24px 0;
    font-weight: 500;
    border: 1px solid #ececec;
}
.header-container {
  align-items: center;
  justify-content: space-between;
}
.header-logo {
    margin-right: 93px;
}
.header-menu, .header-menu-right {
    gap: 50px;
}
.header-menu-item>a, .header-menu-right-item>a, .hero-button, .portfolio-menu-item>a, .header-menu-second-item>a, .header-menu-third-item>a, .header-menu-item-burger>a {
    text-decoration: none;
}
.header-menu-item a {
 color:inherit;
}
.header-menu-item:hover>a, .header-menu-item a.active, .header-menu-right-item:hover>a, .footer-menu-item:hover{
    color: #2196F3;
}
.header-menu-right {
    margin-left: auto;
}

.header-menu-right-item a {
    color: #757575;
}
.fw-700{
    font-weight: 700;
}


/*HERO*/

.hero {
    position: relative;
    height: 600px;
    background: url(/images/background/background.jpg) no-repeat 50%/cover;
    align-items: center;
    text-align: center;
}

.hero::after {
    position: absolute;
    inset: 0;
    content: "";
    background-color:rgba(0, 0, 0, 0.5);
}
.container-index{
    z-index: 1;
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    letter-spacing: 2.64px;
    line-height: 60px;
}
.hero-button {
    background-color: #2196F3;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 46px 15px;
    border-radius: 4px;
    letter-spacing: 0.96px;
    display: inline-block;
    transition: all 0.5s linear;
}
.hero-button:hover, .portfolio-menu .all-active:hover a{
    background-color: #127dd4;
}

/*PORTFOLIO HERO*/
.hero-portfolio {
    padding: 94px 0 50px 0;
    font-weight: 500;
  }
  .portfolio-menu {
      gap:8px;
      justify-content: center;
  }
  .portfolio-menu-item>a, .header-menu-second-item>a, .header-menu-third-item>a, .header-menu-item-burger>a{
      padding: 6px 25px;
      background-color: #F5F4FA;
      justify-content: center;
      align-items: center;
      color: #212121;
  }
  .portfolio-menu-item>a {
    border-radius: 4px;
  }

  .hero-title,.hero-button, .portfolio-menu-item .all-active, .all-active a,.portfolio-menu-item:hover a, .footer-menu-desc {
    color: #FFF;
}

/*ABOUT*/

.about {
    padding: 94px 0 0;
}
.about-cards, .do-cards, .team-cards, .portfolio-cards {
    gap: 30px;
}
.about-card {
    position: relative;
    flex: 1 1 25%;
    padding-top: 150px;
    background: linear-gradient(to bottom,#F5F4FA 55%,#FFF 45%);
}
.about-card::after{
    position: absolute;
    content: "";
    left: 0;
    top:0;
    height: 120px;
    width: 100%;
}
.about-card:first-child:after {
    background: url(/images/background/antenna.svg) 50% no-repeat;
}
.about-card:nth-child(2):after {
    background: url(/images/background/clock.svg) 50% no-repeat;
}
.about-card:nth-child(3):after {
    background: url(/images/background/diagram.svg) 50% no-repeat;
}
.about-card:last-child:after {
    background: url(/images/background/astronaut.svg) 50% no-repeat;
}


.about-title, .team-title {
    margin: 0 0 10px;
}
.about-title {
    text-transform: uppercase;
}
.about-desc {
    color: #757575;
    text-align: justify;
}

/*DO*/
.do { 
    padding: 94px 0;
}
.do-title {
    font-size: 36px;
    text-align: center;
    padding: 0 0 50px;
}

.do-card {
    flex: 1 1 28%;
    height: 294px;
    position: relative;
}
.do-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.do-card-title{
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    height: 70px;
    overflow: hidden;
    width: 100%;
    background-color:rgba(47, 48, 58, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
}

/*TEAM*/
.team {
    padding: 94px 0;
    background-color: #F5F4FA;
}
.team-title-main {
    text-align: center;
    font-size: 36px;
}
.team-cards {
    padding: 50px 0 0 0;
}
.team-card {
    flex: 1 1 25%;
    box-shadow: 0px 2px 3px 0px #33333333;
}
.team-card>img, .portfolio-card img{
     width: 100%;
    height: auto;
    object-fit: cover; 
}
.team-item {
    text-align: center;
    padding: 33px 0;
    margin-top: 0;
    margin-bottom: 0;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
}
.team-desc, .portfolio-desc {
   color: #757575;
   font-size: 16px;
}
.team-desc {
    padding-bottom: 16px;
}
.team-item,.portfolio-item {
    background-color: #FFF;
} 
/*PORTFOLIO*/
.portfolio {
    padding:0 0 94px 0;
}
.portfolio-cards {
    flex-wrap: wrap;
}
.portfolio-card {
    flex: 1 1 28%;
    border: 1px solid #EEE;
}
.portfolio-item{
    padding: 29px 24px;
}
.portfolio-title{
    font-size: 18px;
    margin: 0 0 18px;
}
.portfolio-card-hover {
    position: relative;
}
.portfolio-hover{
    padding: 63px 24px;
    color: #FFF;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    background: rgba(33, 150, 243, 0.90);
    inset: 0;
    display: none;
    object-fit: cover;
 }
.portfolio-card:hover .portfolio-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-card:hover{
    box-shadow: 0px 4px 6px 0px #1f1f1f1f;
}


/* FOOTER*/
footer {
    padding: 60px 0;
    background-color: #2F303A;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-menu {
    flex-flow: column;
    gap:9px;
}

.footer-menu-item {
    color: #757575;
    text-decoration: none;
    align-self: flex-start;
}

.all-active a, .portfolio-menu-item:hover a {
    background-color: #2196F3;
}
/*HEADER MENU*/

.header-menu > li {
    position: relative;
}
.header-menu-second {
    position: absolute;
    left: 50%;
    top: 100%;
    padding-top: 27px;
    display: flex;
    flex-flow: column;
    transform: translateX(-50%);
    display: none;
}
.header-menu-second-item, .header-menu-third-item,.header-menu-item-burger {
    outline: 1px solid #ececec;
}

.header-menu-second-item>a, .header-menu-third-item>a, .header-menu-item-burger>a{
    background-color:#FFF;
    display: flex;
}
.header-menu-second-item:hover>a, .header-menu-third-item:hover>a, .header-menu-item-burger>a:hover{
    color:#2196F3;
    background-color:#F5F4FA;
}
.header-menu-second-item {
    position: relative;
}
.header-menu-third {
    position: absolute;
    right:100%;
    top:0;
    width: 100%;
    height: 100%;
   display: none;
}

.header-menu-item:hover .header-menu-second, .header-menu-second-item:hover .header-menu-third {
  display: block;
}
.header-burger {
    display: none;
}
.header-burger {
    position: relative;
}
 .header-menu-burger{
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
 }
 .header-menu-burger {
    display: none;
 }

.svg-logo {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.svg-logo-link {
    line-height: 10px;
    height: 44px;
    width: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
}
.svg-logo-item svg, .svg-logo-item-footer svg {
    width: 20px;
    height: 20px;
  fill:#AFB1B8;
}
.svg-logo-item-footer {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
}

.svg-logo-link:hover svg{
    fill: #FFF;
}
.svg-logo-link:hover{
    background: #2196F3;
}
.logo-join {
    width: 231px;
}
.join {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}
.join-title {
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
}
.logo-join-svg {
    display: flex;
    gap:70px;
}

/*REGULAR*/
.regular {
    padding: 94px 0;
}
.regular-title {
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}
.regular-logo  {
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.regular-logo-item svg {
    height: 60px;
    width: 106px;
    fill:#AFB1B8
}
.regular-logo-link {
    width: 170px;
    height: 92px;
    display: flex;
    flex: 1 1 16.66%;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    justify-content: center;
    align-items: center;
    transition: border 0.5s linear;
}
.regular-logo-link svg, .svg-logo-link svg {
    transition-property: fill;
    transition-duration: 0.5s;
}
.regular-logo-link:hover svg {
    fill: #2196F3;
}
.regular-logo-link:hover {
    border: 1px solid  #2196F3;
}

      /*1200*/
@media(max-width:1200px) {
    /*Header*/
    .header-logo {
        margin-right: 40px;
    }
    .header-menu, .header-menu-right {
        gap: 20px;
    }
    .regular-logo {
        flex-wrap: wrap;
    }
    .regular-logo-item {
        display: flex;
        align-items: center;
        flex: 1 1 25%;
    }
}
        /*992*/
@media(max-width:992px){
    .about{
        padding: 60px 0 60px;
    }
    .about-cards {
        flex-wrap: wrap;
    }
    .about-card {
        flex: 1 1 45%;
    }
    .do {
        display: none;
    }
    .team {
        padding: 60px 0 60px;
    }
    .team-cards {
        padding: 50px 0 0 0;
    }
    .team-cards {
        flex-wrap: wrap;
    }
    .team-card {
        flex: 1 1 45%;
    }
    .regular {
        padding: 60px 0 60px;
    }
   /*PORTFOLIO*/
    .portfolio {
        padding:0 0 58px 0;
    }
    .hero-portfolio {
        padding: 60px 0 40px 0;
      }
      .portfolio-hover {
        font-size: 14px;
        line-height: 20px;
      }
}
       /*768*/

@media(max-width:768px) {
    /*HEADER*/
    .header {
        padding: 19px 0 20px;
    }
    .header-logo img{
        width: 134px;
        height: 28px;
    }
    .header-menu, .header-menu-right {
        display: none;
    }
    .header-burger{
        display: block;
        position: relative;
        width: 24px;
        height: 16px;
        cursor: pointer;
    }
    .header-burger::before,
    .header-burger::after,
    span {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        height: 3px;
        width: 100%;
        background: #000;
    }
    .header-burger span {
        top: 50%;
        transform: translateY(-50%);
    }
    .header-burger::after{
        top:auto;
        bottom:0;
    }
    .header-burger:hover .header-menu-burger {
        display: block;
    }
    .hero-title{
        font-size: 26px;
    }
    .team-title-main {
        font-size: 28px;
    }
    .regular-title {
        font-size: 28px;
    }
    /*PORTFOLIO*/
    .portfolio-menu {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .portfolio-card{
        flex: 1 1 100%;
      }
     .portfolio-hover {
        padding: 77px 24px;
        font-size: 18px;
        line-height: 28px;
      }
}

       /*600*/

@media(max-width:600px) {
    .hero{
        height: 400px;
    }
    .about-card {
        flex: 1 1 100%
    }
    .team-cards {
        padding: 30px 0 0 0;
    }
    .team-card {
        flex: 1 1 100%;
        width: 450px;
    }
    .regular{
    display: none;
    }
    /*FOOTER*/
    .join {
        display: none;
     }
     .container-logo-join-svg {
        display: flex;
        justify-content: center;
     }
     .footer-menu-item {
        display: inline-block;
        width: 100%;
     }
    .logo-join {
        text-align: center;
    }
    .footer-logo {
        width: 154px;
        font-size: 24px;
    }
    .portfolio-menu{
        width: 77%;
    }
}

 

